/* ---Light CSS Reset--- */
html {
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* ---Custom properties--- */
:root{
    --transition-default: all 0.2s ease;
}
html,
body{
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.layout-container{
    display: grid;
}


.library-greeting{
    justify-self: center;
    padding: 2rem;
}

.book-card{
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    padding: 1rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.book-card>h2{
    font-size: calc(12px + 1vh);
    font-weight: bold;
    margin-bottom: 1rem;
}

.book-card>p {
    font-size: calc(8px + 1vh);
    margin-bottom: .5rem;
}

.remove-book-btn{
    align-self: flex-end;
    position: absolute;
    top: 15px;
}

.toggle-status-btn {
    align-self: flex-start;
    margin-top: auto;
}

.add-new-book-btn{
    justify-self: center;
    margin: 1rem 0;
}


@media only screen and (min-width: 725px){
    .layout-container {
        position: relative;
        top: 16px;
        justify-items: center;
        border: 2px solid green;
        border-radius: 30px;
        width: 80%;
        justify-self: center;
    }

   .library-container{
        width: 75%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        gap: 1em;
   }
   
   .library-greeting{
        padding: 2rem;
   }

   .book-card{
        max-width: 200px;
        width: 100%;
        min-height: 30vh;
        position: relative;
        padding: 1.5rem;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        margin-bottom: 3rem;

    }

    .book-card:hover{
        outline: 5px solid #4ECDC4;
    }

    .remove-book-btn{
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .book-card>h2,
    .book-card>p{
        text-align: center;
    }

    .book-card>h2{
        font-size: calc(10px + 0.75vh);
        margin-top: 1rem;
    }

    .book-card>p{
        font-size: calc(8px + 0.6vh);
    }

    .book-card>p:first-of-type{
        font-size: calc(8px + 0.5vh);
        font-weight: bold;
        padding: 1rem 0;
    }

    .book-card>p:last-of-type{
        margin-top: auto;
        padding: 1rem 0;
    }

    .toggle-status-btn{
        align-self: center;
    }

    .add-new-book-btn{
        margin-bottom: 1rem;
    }
}